<div class="container">
  <div class="avatar">
    <img src="assets/avatar.jpg" alt="">
  </div>
  <h1 style="text-align: center;">
    Lista de Chá de Panela do <span style="color:#4c9209">Reydrik e Joyce</span>
  </h1>

  <!-- Lista -->
  <div *ngIf="dataReady && !showForm && !updateLoaderMsg && !dataUpdated" class="lista">
    <h3 style="text-align: center; margin-bottom:15px;">Escolha um item e depois insira seu nome</h3>
    <div class="item" *ngFor="let item of list; index as i">
      <button 
        [ngClass]="{
          'btn-disabled': item.Nome
        }"
        [disabled]="item.Nome" 
        (click)="openFormItem(i)">
          <div style="display: flex; align-items: center; justify-content: center;">
            <div *ngIf="item.Imagem" style="padding-right: 10px;">
              <img src="{{item.Imagem}}" alt="">
            </div>
            <div>{{item.Item}}</div>
          </div>
      </button>
    </div>
  </div>

  <!-- Form -->
  <div style="text-align: center;" *ngIf="showForm && !updateLoaderMsg">
    <div style="margin-bottom: 30px">
      <p>
        Você escolheu: <br>
        <span class="bold" style="font-size:1.3rem">{{ list[selectedItem].Item }}</span>
      </p>
      <p style="text-align: center; margin-top:10px;" *ngIf="list[selectedItem].Link">
        <a style="color:#4c9209" href="{{list[selectedItem].Link}}" target="_blank">
          Sugestão do produto
        </a>
      </p>
    </div>
    <h4>Insira seu nome e depois clique em Confirmar</h4>
    <div>
      <input class="form-input" type="text" [(ngModel)]="nomeConvidado">
      <div *ngIf="inputError" style="font-size: 12px; color: red; margin-bottom: 15px;">
        Por favor, insira seu nome, e após clique em confirmar.
      </div>
    </div>
    <div style="display: flex;">
      <div style="width:50%">
        <div style="padding-right:5px">
          <button class="form-back-button" (click)="backToList()">VOLTAR</button>
        </div>
      </div>
      <div style="width:50%">
        <div style="padding-left:5px">
          <button class="form-button" (click)="updateItem()">CONFIRMAR</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Update Loader -->
  <div *ngIf="updateLoaderMsg ">
    <h3 style="text-align: center;">{{ updateLoaderMsg }}</h3>
  </div>

  <!-- Obrigado -->
  <div *ngIf="dataUpdated">
    <h2 style="text-align: center;">
      <span style="color:#4c9209">Obrigado,</span> {{nomeConvidado}}!
    </h2>
    <button class="form-button" (click)="backToList()">Ver a lista novamente</button>
  </div>
</div>